.toast-message {
  position: fixed;
  top: 50px;
  right: -400px;
  min-width: 320px;
  padding: 12px 16px;
  border-radius: 6px;
  color: white;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
  box-shadow: 0 4px 10px rgba(0,0,0,.2);
  animation: slideIn 0.6s forwards;
}


.toast-success {
  background-color: #7367f0;
}


.toast-error {
  background-color: #dc3545;
}

.toast-message button {
  border: none;
  background: transparent;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-left: 12px;
}


@keyframes slideIn {
  from {
    right: -400px;
    opacity: 0;
  }
  to {
    right: 25px;
    opacity: 1;
  }
}
