
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Segoe UI', Arial, sans-serif;

  background-image: url("../../../images/registration.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar {
  width: 100% !important;
  position: relative !important;
  display: flex;
  align-items: center;
  background-color: #ffffff !important;
  padding: 0.5rem 1rem;
}

.container-fluid {
  width: 100%;
  max-width: 1320px;
  margin: auto;
}

main.card {
  max-width: 850px;
  padding: 2rem;
  border-radius: 16px;
  margin: 2rem auto;
  box-shadow: 0 12px 25px rgba(0,0,0,0.08);
  background-color: rgba(255, 255, 255, 0.9);
  background-color: rgba(255, 255, 255, 0.3); 
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); 
  border: 1px solid rgba(255, 255, 255, 0.4);
}

h1 {
  text-align: center;
  font-weight: 600;
  margin-bottom: 2rem;
}

label {
  font-weight: 500;
  font-size: 14px;
}

.small {
  color: #6c757d;
  font-size: 14px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.full {
  grid-column: span 2;
}

input {
  width: 100%;
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 14px;
  margin-top: 4px;
}

input:focus {
  outline: none;
  border-color: #0d6efd;
  box-shadow: 0 0 0 2px rgba(13,110,253,0.2);
}

.row {
  display: flex;
  align-items: center;
  position: relative;
}

.toggle {
  margin-left: -40px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}


button[type="submit"] {
  background: #0d6efd;
  border: none;
  color: white;
  font-size: 15px;
  padding: 10px 22px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

button[type="submit"]:hover {
  background: #084298;
}


.error {
  font-size: 12px;
  color: red;
}

.hint {
  font-size: 12px;
  color: #666;
}


.toast-message {
  padding: 10px 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toast-success {
  background-color: #ecfdf5;
  color: #064e3b;
}

.toast-error {
  background-color: #fee2e2;
  color: #991b1b;
}

.toast-message button {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 16px;
}


@media(max-width: 768px){
  main.card {
    margin: 2rem 1rem;
  }

  .full {
    grid-column: span 1;
  }

  h1 {
    font-size: 22px;
  }
}
